.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Desktop: 2 columns */
    gap: 30px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}